
{
    "jsc":{
        "parser": {
            "syntax": "typescript",
            "decorators": true
        },

        "transform":{
            "legacyDecorators": true,
            "decoratorMetadata": true
        }
    }
}